<footer class="position-relative py-10 py-lg-6 bg-dark text-white">
    <div class="container px-xl-10">
        <div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <img src="assets/images/logo-light.png" alt="" class="img-fluid mb-5" style="width: 130px;">
                <p class="mb-5">
                    Thank you for viewing my portfolio. Please feel free to
                    <a class="text-success" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a> me with any questions,
                    I am available for face-to-face meetings in Brisbane, by phone, zoom, or via LinkedIn.</a>
                </p>

                <ul class="list-inline mb-6">
                    <li class="list-inline-item mx-0">
                        <a class="btn btn-md btn-icon btn-soft-white text-white" href="https://www.linkedin.com/in/georgeprice108/" target="_blank">
                            <i class="fab fa-linkedin-in btn-icon-inner"></i>
                        </a>
                    </li>
                </ul>
                <div class="container text-muted">
                    &copy; 2022 - George Price
                </div>
            </div>
        </div>
    </div>
</footer>