@{
    ViewData["Title"] = "George Price - Portfolio";
}

<!-- Portfolio splash screen -->
<section id="home" class="py-9 py-lg-10 min-vh-100 d-flex">
    <div class="overlay overlay-advanced d-flex align-items-center">
        <div class="overlay-inner bg-image-holder bg-cover">
            <img src="./assets/images/bg-home2.jpg" alt="">
        </div>
        <div class="overlay-inner bg-primary opacity-90"></div>
    </div>
    <div class="container align-self-center">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto text-center text-white">
                <div class="avatar avatar-xxl mb-7">
                    <div class="avatar-shape avatar-shape-rounded mt-n2 mb-n2 mr-n2"></div>
                    <img src="./assets/images/profile/profile-pic-sm.jpg" alt="" class="avatar-img rounded-circle shadow-light">
                </div>
                <h2 class="mb-4">George B Price</h2>
                <h1 class="mb-5">
                    <span class="font-weight-bold" data-toggle="typed" data-options="{&quot;strings&quot;: [&quot;Welcome!&quot;, &quot;I'm an aspiring ASP.NET Developer &quot;, &quot; experienced in Website Development&quot;]}"></span><span class="typed-cursor typed-cursor--blink"></span>
                </h1>
                <p class="mb-7">I am a recent University graduate of a Bachelor in Information Technology, 
                    majoring in Cybersecurity and Application Development. I also have over 3 years of freelance website-building experience.
                </p>
                <a href="~/assets/resume/George-Price-Resume-2022.pdf" target="blank" class="btn btn-white d-block d-md-inline-block mb-3 mb-md-0">Download Resume</a>
                <a href="#about" class="btn btn-soft-white scrollto ml-md-3 d-block d-md-inline-block">About Me</a>
            </div>
        </div>
    </div>
    <a href="#about" class="d-none d-md-block mouse-icon text-white scrollto" title="Scroll Down"></a>
</section>

<!-- About -->
<section id="about" class="py-9 mt-4">
    <div class="container">
        <div class="row align-items-start">
            <!-- Graduation image visible on lg/xl screen sizes only -->
            <div class="col-lg-4 mb-6 mb-lg-0 pt-2">
                <img class="img-fluid w-100 d-none d-lg-block shadow" src="assets/images/graduation-testamur.jpg" alt="">
            </div>                 
            <div class="col-lg-7 ml-4">
                <h2 class="mb-4">About Me</h2>
                <p class="lead">
                    I have recently graduated University with distinction<i class="ti-medall"></i> and a GPA of 6.7. I am seeking full-time employment 
                    as a .NET Developer, full-stack web developer, or C# Programmer.
                </p>
                <!-- Graduation image visible on md screen size only -->
                <img class="img-fluid image-wrapper float-right pl-3 pt-1 w-50 d-none d-md-block d-lg-none" src="assets/images/graduation-testamur.jpg" alt="">
                <p>
                    As someone who learns quickly and who is always curious about how things work, I am happy to continually learn and upskill in my work roles.
                    I am an easy-going person with a friendly personality, reliable, hardworking, and I often put in the extra mile when needed. 
                    I am really looking forward to starting a career in programming and developing new skills. 
                    Below you can <a class="link scrollto" href="#skills">view a list</a> of my current skills.
                </p>
                <p>
                    Along with University, I have additionally been studying ASP.NET Core for the last 6 months with courses by Mosh (C#, ASP.NET Core, SQL, 
                    Identity Framework), please view my <a class="link scrollto" href="#projects">Projects</a> for examples of my .NET learning projects. 
                    For examples of my freelance web developer work, please view my <a class="link scrollto" href="#portfolio">Portfolio</a>. 
                </p>
                <p>
                    Feel free to <a class="link scrollto" href="#contact">contact</a> me with any questions, 
                    I am available for face-to-face meetings in Brisbane, by phone, zoom, or via LinkedIn. 
                </p>
                <ul class="list-inline mb-8">
                    <li class="list-inline-item mx-0">
                        <a class="btn btn-sm btn-icon btn-soft-primary text-gray-600" href="https://www.linkedin.com/in/georgeprice108/" target="_blank">
                            <i class="fab fa-linkedin-in btn-icon-inner"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- My Skills -->
<section id="skills" class="py-9">      
    <div class="container">

    <!-- Animated Skills Bars -->
    <div class="">
        <div class="row mb-8">
            <div class="col-lg-12">
                <h2 class="mb-4">Web Developer Skills</h2>
                <p>The following are skills and methodologies I am experienced with, having either utilised them in projects for paying clients while freelancing, 
                or having diligently studied and used them in University/Course based hands-on projects.</p>
            </div>
        </div>
        <div class="skills-content row mb-8">
            <div class="col-md-6 mb-md-0">
                <p class="h6">HTML | CSS | Bootstrap</p>
                    <div class="progress progress-bar-wrap mb-3" style="height: 10px;">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="h6">JavaScript | jQuery</p>
                    <div class="progress progress-bar-wrap mb-3" style="height: 10px;">
                <div class="progress-bar" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="h6">MySQL | LINQ | RDBMS</p>
                    <div class="progress progress-bar-wrap mb-3" style="height: 10px;">
                <div class="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="h6">C# | ASP.NET MVC Core</p>
                    <div class="progress progress-bar-wrap mb-3" style="height: 10px;">
                <div class="progress-bar" role="progressbar" aria-valuenow="91" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="h6">Entity Framework | Code First</p>
                    <div class="progress progress-bar-wrap mb-3" style="height: 10px;">
                <div class="progress-bar" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="h6">Azure/AWS Deployment</p>
                    <div class="progress progress-bar-wrap mb-3" style="height: 10px;">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-md-6">
                <p class="h6">Java | Kotlin</p>
                <div class="progress progress-bar-wrap mb-3" style="height: 10px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="h6">Android Studio</p>
                <div class="progress progress-bar-wrap mb-3" style="height: 10px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="81" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="h6">UI/UX Design</p>
                <div class="progress progress-bar-wrap mb-3" style="height: 10px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="h6">SDLC | Agile</p>
                <div class="progress progress-bar-wrap mb-3" style="height: 10px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="h6">Networking Fundamentals</p>
                <div class="progress progress-bar-wrap mb-3" style="height: 10px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="h6">Cybersecurity Fundamentals</p>
                <div class="progress progress-bar-wrap mb-3" style="height: 10px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-lg-9"> <!-- text-center text-lg-left -->
                <h2 class="mb-4">Learning in Progress</h2>
                <p>I am continually learning to increase my usefullness and web developer skillset.</p>
            </div>
        </div>
        <div class="skills-content row mb-10">
            <div class="col-md-6 mb-4 mb-md-0">
                <p class="h6">NODE.js (Course: <a class="link" href="https://codewithmosh.com/p/the-complete-node-js-course" target="blank"><i>Code With Mosh</i></a>)</p>
                <div class="progress progress-bar-wrap mb-3" style="height: 10px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="h6">Blazor - <i>next in queue</i></p>
                <div class="progress progress-bar-wrap mb-3" style="height: 10px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p class="h6">React - <i>next in queue</i></p>
                <div class="progress progress-bar-wrap mb-3" style="height: 10px;">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>         
    </div><!-- End skills bars -->

    <!-- Technologies Header -->
    <div class="row mb-4">
        <div class="col-lg-9">
        <h2 class="mb-4">Technologies</h2>
        <p>Here are the main IT programs, platforms and technologies that I am experienced with.</p>
        </div>
    </div>

    <!-- Technologies visable -->
    <div class="row mt-5">
        <div class="d-flex flex-wrap justify-content-left mt-4">
            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                <div class="d-flex align-items-center">
                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                        <img src="./assets/images/technology/android.svg" alt="" class="" height="34">
                    </div>
                    <div class="ml-3">
                        <h6 class="mb-0 fw-medium text-gray-700">Android Studio</h6>
                        <p class="text-muted mb-0 fs-12">1+ Years</p>
                    </div>
                </div>                           
            </div>
            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                <div class="d-flex align-items-center">
                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                        <img src="./assets/images/technology/VisualStudio.png" alt="" class="" height="34">
                    </div>
                    <div class="ml-3">
                        <h6 class="mb-0 fw-medium text-gray-700">Visual Studio &amp; Code</h6>
                        <p class="text-muted mb-0 fs-12">3+ Years</p>
                    </div>
                </div>                           
            </div><!--/div-->
            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                <div class="d-flex align-items-center">
                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                        <img src="./assets/images/technology/NetBeans.png" alt="" class="" height="34">
                    </div>
                    <div class="ml-3">
                        <h6 class="mb-0 fw-medium text-gray-700">Netbeans</h6>
                        <p class="text-muted mb-0 fs-12">3+ Years</p>
                    </div>
                </div>                           
            </div><!--/div-->
            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/drupl.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Drupal</h6>
                    <p class="text-muted mb-0 fs-12">5+ Years</p>
                </div>
            </div>                           
            </div><!--/div-->
            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/Wordpress.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">WordPress</h6>
                    <p class="text-muted mb-0 fs-12">5+ Years</p>
                </div>
            </div>                           
            </div><!--/div-->
            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/bootstrap.svg" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Bootstrap</h6>
                    <p class="text-muted mb-0 fs-12">5+ Years</p>
                </div>
            </div>                           
            </div><!--/div-->
            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/AWS.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">AWS Hosting</h6>
                    <p class="text-muted mb-0 fs-12">1+ Years</p>
                </div>
            </div>                           
            </div><!--/div-->
            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/Microsoft_Azure.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Azure Hosting</h6>
                    <p class="text-muted mb-0 fs-12">1+ Years</p>
                </div>
            </div>                           
            </div><!--/div-->
            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/cPanel.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">cPanel</h6>
                    <p class="text-muted mb-0 fs-12">5+ Years</p>
                </div>
            </div>                           
        </div><!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/MySQL.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">MySQL</h6>
                    <p class="text-muted mb-0 fs-12">5+ Years</p>
                </div>
            </div>                           
        </div><!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/Access.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">MS Access</h6>
                    <p class="text-muted mb-0 fs-12">1+ Years</p>
                </div>
            </div>                           
        </div><!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/XAMPP.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">XAMPP</h6>
                    <p class="text-muted mb-0 fs-12">5+ Years</p>
                </div>
            </div>                           
        </div><!--/div-->
            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                <div class="d-flex align-items-center">
                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                        <img src="./assets/images/technology/Linux.png" alt="" class="" height="34">
                    </div>
                    <div class="ml-3">
                        <h6 class="mb-0 fw-medium text-gray-700">Linux</h6>
                        <p class="text-muted mb-0 fs-12">5+ Years</p>
                    </div>
                </div>                           
            </div><!--/div-->
        </div><!-- End main div -->
    </div><!-- End Visible non collapsed Technologies -->

    <!-- Technologies collapsed -->
    <div class="collapse row" id="collapseTech">
        <div class="d-flex flex-wrap justify-content-left">
            <!-- HIDDEN SKILLS SECTION -->
            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                <div class="d-flex align-items-center">
                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                        <img src="./assets/images/technology/Terminal.png" alt="" class="" height="34">
                    </div>
                    <div class="ml-3">
                        <h6 class="mb-0 fw-medium text-gray-700">CLI | Terminal</h6>
                        <p class="text-muted mb-0 fs-12">2+ Years</p>
                    </div>
                </div>                           
            </div><!--/div-->
            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
                <div class="d-flex align-items-center">
                    <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                        <img src="./assets/images/technology/networking.png" alt="" class="" height="34">
                    </div>
                    <div class="ml-3">
                        <h6 class="mb-0 fw-medium text-gray-700">TCP | Networking</h6>
                        <p class="text-muted mb-0 fs-12">2+ Years</p>
                    </div>
                </div>                           
            </div><!--/div-->
            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/CiscoPacketTracer.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Packet Tracer</h6>
                    <p class="text-muted mb-0 fs-12">2+ years</p>
                </div>
            </div>                           
        </div><!--/div-->
            <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/Wireshark.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Wireshark</h6>
                    <p class="text-muted mb-0 fs-12">2+ Years</p>
                </div>
            </div>                           
        </div><!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/Docker.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Docker</h6>
                    <p class="text-muted mb-0 fs-12">6+ Months</p>
                </div>
            </div>                           
        </div><!--/div-->            
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
        <div class="d-flex align-items-center">
            <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                <img src="./assets/images/technology/VirtualBox.png" alt="" class="" height="34">
            </div>
            <div class="ml-3">
                <h6 class="mb-0 fw-medium text-gray-700">VirtualBox</h6>
                <p class="text-muted mb-0 fs-12">5+ Years</p>
            </div>
        </div>                           
        </div><!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/Project.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Project | Gantt</h6>
                    <p class="text-muted mb-0 fs-12">2+ Years</p>
                </div>
            </div>                           
        </div><!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/Visio.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Visio</h6>
                    <p class="text-muted mb-0 fs-12">2+ Years</p>
                </div>
            </div>                           
        </div><!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/Taiga.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Taiga Sprint</h6>
                    <p class="text-muted mb-0 fs-12">1+ Years</p>
                </div>
            </div>                           
        </div><!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/Photoshop.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Photoshop | Illustrator</h6>
                    <p class="text-muted mb-0 fs-12">10+ Years</p>
                </div>
            </div>                           
        </div><!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/office.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Word | Excel | PPoint</h6>
                    <p class="text-muted mb-0 fs-12">10+ Years</p>
                </div>
            </div>                           
        </div><!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/Windows.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Windows OS</h6>
                    <p class="text-muted mb-0 fs-12">20+ Years</p>
                </div>
            </div>                           
        </div><!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/MAC.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">MAC OS</h6>
                    <p class="text-muted mb-0 fs-12">5+ Years</p>
                </div>
            </div>                           
        </div><!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="./assets/images/technology/computer.png" alt="" class="" height="34">
                </div>
                <div class="ml-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Computer Hardware</h6>
                    <p class="text-muted mb-0 fs-12">Building rigs for 20+ Years</p>
                </div>
            </div>                           
        </div><!--/div-->

        </div><!-- End main div -->
    </div><!-- End collapsed Technologies -->

   <!-- Show More Skills toggler -->
    <a id="icon-toggle" class="show-more link icon icon-sm icon-4x" data-toggle="collapse" href=""
        data-target="#collapseTech" aria-expanded="false" aria-controls="collapseTech">
        Show More <i class="ti-angle-down"></i>
    </a>

    </div> <!-- end container -->
</section> 

<!-- My Resume -->
<section id="resume" class="resume bg-light">
    <div class="container">

    <div class="section-title">
        <h2>Resume</h2>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h3 class="resume-title"><i class="fas fa-sm fa-user"></i> Summary</h3>
            <div class="resume-item pb-0">
                <h4>George B Price</h4>
                <p>
                    <em>
                        I recently graduated with a Bachelor of Information Technology, a milestone in achieving my dream
                        of becoming a professional developer. Whilst in the past 15 years I worked in retail roles as my main 
                        source of income, I also carried out responsibilities in IT, and freelanced part-time as a web developer.                    
                    </em>
                </p>
                <p>
                    <em>
                        My last position at Firm-n-Fold as manager for 6 years also included responsibilities in managing the 
                        company’s eCommerce website, products, local network, computers, and ICT equipment.
                    </em>
                </p>
                <p>
                    <ul class="list-group d-flex">
                        <li class="list-group-item"><i class="ti-location-pin text-primary-muted"></i> Stafford, Brisbane North.</li>
                        <li class="list-group-item"><i class="ti-mobile text-primary-muted"></i> 0466 492 348</li>
                        <li class="list-group-item"><i class="ti-id-badge text-primary-muted"></i> Australian Citizen.</li>
                        <li class="list-group-item"><i class="ti-desktop text-primary-muted"></i> Looking for full-time work, open to hybrid and remote roles.</li>
                        <li class="list-group-item"><i class="ti-game text-primary-muted"></i> Hobbies: Coding, ICT Technology, Creating applications, Occasional Gaming, Footy, Cooking.</li>
                    </ul>
                </p>
            </div>

            <h3 class="resume-title"><i class="fas fa-sm fa-graduation-cap"></i> Education</h3>
            <div class="resume-item ul-nostyle">
                <h4>Bachelor of Information Technology</h4>
                <h5>2019 - 2022</h5>
                <p><em>Central Queensland University, Brisbane</em></p>
                <p>
                    Majored in Cybersecurity and Application Development.<br>
                    Graduated with distinction<i class="ti-medall"></i> | GPA 6.7. 
                </p>
                <ul>
                        <li><i class="ti-bookmark"></i> Received several Letters of Commendation from the Dean.</li>
                        <li><i class="ti-bookmark"></i> Team leader and mentor in several group projects.</li>
                    <li><i class="ti-bookmark"></i> Highest graded Capstone Project of the class.</li>
                </ul>
            </div>
            <div class="resume-item">
                <h4>Customer Service III and IV Certificates</h4>
                <h5>2013</h5>
                <p><em>Dulux 2IC Training Program</em></p>
            </div>
            <div class="resume-item last-item">
                <h4>Year 12 HSC</h4>
                <h5>1997</h5>
                <p><em>Coorparoo State High School, Brisbane</em></p>
                <p>Passed all exams, with high distinction in Art.</p>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="resume-title"><i class="fas fa-sm fa-laptop"></i> Work Experience</h3>
            <div class="resume-item ul-circle">
                <h4>Freelance Web Development (Part-Time)</h4>
                <h5>2016 - 2019</h5>
                <p><em>Brisbane &amp; Gold Coast </em></p>
                <p>
                    Built websites for various businesses, and also designed branding elements and some product packaging.
                </p>
                <ul>
                    <li>
                        <span class="font-weight-bold">Website Development using:</span> 
                        Drupal | Wordpress | HTML | CSS | JS | MySQL | cPanel | phpMyAdmin 
                    </li>
                    <li>
                        <span class="font-weight-bold">Branding, logos, packaging design using:</span> 
                        Adobe Photoshop | Illustrator | Premiere | After Effects | Pantone
                    </li>                
                </ul>
            </div>
            <div class="resume-item ul-circle">
                <h4>Store Manager | IT Support </h4>
                <h5>2014 - 2020</h5>
                <p><em>Firm-n-Fold Brisbane</em></p>
                <p>
                    I managed a massage equipment supplies store in the Fortitude Valley, while also filling a support role 
                    for Firm-n-Fold's IT systems and busy online eCommerce store. 
                </p>
                <ul>
                    <li>Managed staff and roster, daily business operations, banking, and customer needs.</li>
                    <li>Handled the eCommerce website, sales, shipping, stock controls, and product management.</li>
                    <li>Handled local networking, computers and POS systems, VoIP, Remote Access, and ICT hardware.</li>
                </ul>
            </div>
            <div class="resume-item">
                <h4>Assistant Manager</h4>
                <h5>2011 - 2014</h5>
                <p><em>Dulux Inspirations</em></p>
                <p>
                    I served as an assistant manager at a trade store for the Dulux paint brand. My role involved 
                    serving the public and tradesmen, taking and processing clients' orders, colour consulting, 
                    finding solutions for customers, merchandising, restocking, staff roster, staff duty enforcement, 
                    operating the till, and the daily banking. 
                </p>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Portfolio -->
<section id="portfolio" class="py-9">
    <div class="container">

    <div class="section-title">
        <h2>Portfolio</h2>
    </div>

    <!-- Portfolio Header | Filter -->
    <div class="row mb-8">
        <div class="col-lg-10 mx-auto text-center">
            <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Work Experience</span>
            <h2 class="mb-4">Freelance Work</h2>
            <p class="mb-5">Here are some samples of my freelance web development and graphic design work.</p>
            <nav class="masonry-filter">
                <a href="#" class="btn btn-sm btn-soft-secondary m-1 px-4 active" data-filter="*">All</a>
                <a href="#" class="btn btn-sm btn-soft-secondary m-1 px-4" data-filter=".web">Web</a>
                <a href="#" class="btn btn-sm btn-soft-secondary m-1 px-4" data-filter=".branding">Branding</a>
                <a href="#" class="btn btn-sm btn-soft-secondary m-1 px-4" data-filter=".design">Design</a>
            </nav>
        </div>
    </div>
    <div class="masonry-container row mx-n4 mt-n6">
        <!-- Vege Chips -->
        <div class="col-sm-6 col-md-4 pt-6 px-4 masonry-item branding web design" data-featherlight-gallery data-featherlight-filter="a">
            <a class="card border-0 rounded-3x" href="assets/images/portfolio/portfolio-1.jpg" 
                data-title="Website | Packaging | Marketing" 
                data-text="Built and maintained a custom designed Drupal CMS website, marketing materials, and assisted in some packaging design.">
                <div class="card-zoom shadow-light">
                    <img class="card-img" src="assets/images/portfolio/portfolio-1.jpg" alt="">
                </div>
            </a>
            <a class="d-none" href="assets/images/portfolio/portfolio-1-2.jpg" 
                data-title="Responsive Layout" 
                data-text="Mobile phone and tablet friendly responsive versions.">
            </a>
        </div>
        <!-- Corinda Massage Therapy -->
        <div class="col-sm-6 col-md-4 pt-6 px-4 masonry-item web">
            <a class="card border-0 rounded-3x" href="assets/images/portfolio/portfolio-2.jpg" data-featherlight="image" 
                data-title="Website | Design" 
                data-text="Designed and built a Drupal website for Corinda Massage Therapy, to the client's specifications.">
                <div class="card-zoom shadow-light">
                    <img class="card-img" src="assets/images/portfolio/portfolio-2.jpg" alt="">
                </div>
            </a>
        </div>
        <!-- Pristine Superfoods -->
        <div class="col-sm-6 col-md-4 pt-6 px-4 masonry-item branding web design" data-featherlight-gallery data-featherlight-filter="a">
            <a class="card border-0 rounded-3x" href="assets/images/portfolio/portfolio-3.jpg" 
                data-title="Website | Branding | Packaging | Marketing" 
                data-text="Designed, built and maintained a WooCommerce website hosted using Wordpress CMS. Also designed the product packaging and branding, and wrote most of the content.">
                <div class="card-zoom shadow-light">
                    <img class="card-img" src="assets/images/portfolio/portfolio-3.jpg" alt="">
                </div>
            </a>
            <a class="d-none" href="assets/images/portfolio/portfolio-3-2.jpg" 
                data-title="Checkout Page" 
                data-text="Implemented PayPal and Braintree payment gateways. Also integrated the Australia Post shipping module.">
            </a>
        </div>
        <!-- Sawasdee Thai Massage -->
        <div class="col-sm-6 col-md-4 pt-6 px-4 masonry-item web design">
            <a class="card border-0 rounded-3x" href="assets/images/portfolio/portfolio-4.jpg" data-featherlight="image" 
                data-title="Website | Design" 
                data-text="Designed and built a share-hosted website for Sawasdee Thai Massage, fulfilling the client's specifications.">
                <div class="card-zoom shadow-light">
                    <img class="card-img" src="assets/images/portfolio/portfolio-4.jpg" alt="">
                </div>
            </a>
        </div>
        <!-- Popped Chips -->
        <div class="col-sm-6 col-md-4 pt-6 px-4 masonry-item design">
            <a class="card border-0 rounded-3x" href="assets/images/portfolio/portfolio-5.jpg" data-featherlight="image" 
                data-title="Splash Page | Short Advertisement Video" 
                data-text="Designed and built a jQuery splash page for Vege Chip's new 'Popped chips' campaign. 
                Also animated a 20 second looping advertisement and promotional video.">
                <div class="card-zoom shadow-light">
                    <img class="card-img" src="assets/images/portfolio/portfolio-5.jpg" alt="">
                </div>
            </a>
        </div>

        <!-- Superfood Packaging -->
        <div class="col-sm-6 col-md-4 pt-6 px-4 masonry-item branding design" data-featherlight-gallery data-featherlight-filter="a">
            <a class="card border-0 rounded-3x" href="assets/images/portfolio/portfolio-6.jpg"
            data-title="Produt Packaging" 
            data-text="Researched and designed packaging for a range of superfood blends. 
            Using Adobe Illustrator: CMYK, Pantone, Safe Margins, NIP, Barcode, Die-cut labels, Gusset Resealable Kraft Bags.">
                <div class="card-zoom shadow-light">
                    <img class="card-img" src="assets/images/portfolio/portfolio-6.jpg" alt="">
                </div>
            </a>
            <a class="d-none" href="assets/images/portfolio/portfolio-6-1.jpg" 
                data-title="Back Panel" 
                data-text="I designed and wrote the information content for each product.">
            </a>          
        </div>

        <!-- Remdial Miracle Massage -->
        <div class="col-sm-6 col-md-4 pt-6 px-4 masonry-item web">
            <a class="card border-0 rounded-3x" href="assets/images/portfolio/portfolio-7.jpg" data-featherlight="image" 
                data-title="Website" 
                data-text="Produced a simple Wordpress website for a local massage business, 
                offering unique Vietnamese trigger point therapy by master Doi Hyunh.">
                <div class="card-zoom shadow-light">
                    <img class="card-img" src="assets/images/portfolio/portfolio-7.jpg" alt="">
                </div>
            </a>
        </div>

    </div>
    </div>
</section>

<!-- Projects -->
<section id="projects" class="section py-9 py-xl-10 bg-light">
    <div class="container">
        <div class="section-title">
            <h2>Projects</h2>
        </div>

        <!-- Univeristy Projects Header -->
        <div class="row mb-8">
            <div class="col-lg-10 mx-auto text-center">
                <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Previous Learning</span>
                <h2 class="mb-4">University Projects</h2>
                <p class="mb-5">
                    Here are some of the projects I completed while learning at university, now available on GitHub. 
                    Please note that GitHub was not always used during development. 
                </p>
            </div>
        </div>

        <!-- UNI Projects -->
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-5">
                <div class="card border-0 bg-white shadow-light shadow-lift rounded-3x overflow-hidden">
                    <div class="card-body p-4">
                        <div class="media mb-3">
                            <div class="d-md-none d-lg-block d-flex justify-content-center align-items-center thumb-xl mr-3">
                                <img src="./assets/images/technology/NetBeans.png" alt="" width="40px" class="thumb-md">
                            </div>
                            <div class="media-body project-name">
                                <h6 class="m-0">Simple Java Program</h6>
                                    <a href="https://github.com/GeorgeBPrice/University-project-Java-Program" target="_blank">
                                    github.com/GeorgeBPrice <i class="fas fa-external-link-alt"></i>
                                </a>
                                <p class="project-image">
                                    view: 
                                    <a href="assets/images/projects/project1-Java.png" data-featherlight="image" 
                                        data-title="Solar Installation Job program" 
                                        data-text="Created using only Java and Java Swing, using NetBeans and Notepad++. 
                                        Learning focus was on OOP foundation and the Java programming language.">
                                        <span class="project-link"> Program Screenshot <i class="far fa-file-image"></i></span>
                                    </a>
                                </p>
                            </div><!--end media-body-->
                        </div><!--end media-->  
                        <p class="project-desc">The first program I built at UNI, using only Java code and GUI toolkit.</p>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Java</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Swing</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">NetBeans</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Notepad++</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-5">
                <div class="card border-0 bg-white shadow-light shadow-lift rounded-3x overflow-hidden">
                    <div class="card-body p-4">
                        <div class="media mb-3">
                            <div class="d-md-none d-lg-block d-flex justify-content-center align-items-center thumb-xl mr-3">
                                <img src="./assets/images/technology/Access.png" alt="" width="40px" class="thumb-md">
                            </div>
                            <div class="media-body project-name">
                                <h6 class="m-0">Simple RDBMS Project</h6>
                                    <a href="https://github.com/GeorgeBPrice/University-learning-RDBMS" target="_blank">
                                    github.com/GeorgeBPrice <i class="fas fa-external-link-alt"></i>
                                </a>
                                <p class="project-image">
                                    view: 
                                    <a href="assets/images/projects/project4-ERD.PNG" data-featherlight="image" 
                                        data-title="Entity Relational Diagram" 
                                        data-text="The initial ERD this project started with that the database is modelled after.">
                                        <span class="project-link"> ERD Diagram <i class="far fa-file-image"></i></span> 
                                    </a>
                                </p>
                                <p class="project-image">
                                    view: 
                                    <a href="assets/images/projects/project4-RDBMS.PNG" data-featherlight="image" 
                                        data-title="Relational Database Management System" 
                                        data-text="This is the resulting relational database setup in MS Access, used in a Database-First approach to database management.">
                                        <span class="project-link"> RDBMS Diagram <i class="far fa-file-image"></i></span> 
                                    </a>
                                </p>
                            </div><!--end media-body-->
                        </div><!--end media-->
                        <p class="project-desc">Hands-on learning of RDBMS, database design, and implementation.</p>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">SQL</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">ERD</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">MS Access</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">MS Visio</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-5">
                <div class="card border-0 bg-white shadow-light shadow-lift rounded-3x overflow-hidden">
                    <div class="card-body p-4">
                        <div class="media mb-3">
                            <div class="d-md-none d-lg-block d-flex justify-content-center align-items-center thumb-xl mr-3">
                                <img src="./assets/images/technology/NET.png" alt="" width="40px" class="thumb-md">
                            </div>
                            <div class="media-body project-name">
                                <h6 class="m-0">ASP.NET Core Website</h6>
                                    <a href="https://github.com/GeorgeBPrice/University-project-ASPNET-MVC-5" target="_blank">
                                    github.com/GeorgeBPrice <i class="fas fa-external-link-alt"></i>
                                </a>
                                <p class="project-image">
                                    view: 
                                    <a href="assets/images/projects/project3-ASPNET-01.PNG" data-featherlight="image" 
                                        data-title="Simple ASP.NET Core eCommerce website" 
                                        data-text="Created as an ongoing hands-on project for the .NET unit that I did at University. 
                                            A simple product page drawing from a database, and a shopping cart with sessions.">
                                        <span class="project-link"> Website Screenshot <i class="far fa-file-image"></i></span> 
                                    </a>
                                </p>
                            </div><!--end media-body-->
                        </div><!--end media-->
                        <p class="project-desc">Built a simple eCommerce website, as a hands-on ASP learning project.</p>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Visual Studio</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">.NET Core</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">C#</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Entity Framework</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">SQL</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-5">
                <div class="card border-0 bg-white shadow-light shadow-lift rounded-3x overflow-hidden">
                    <div class="card-body p-4">
                        <div class="media mb-3">
                            <div class="d-md-none d-lg-block d-flex justify-content-center align-items-center thumb-xl mr-3">
                               <img src="./assets/images/technology/android.svg" alt="" width="40px" class="thumb-md">
                            </div>
                            <div class="media-body project-name">
                                <h6 class="m-0">Mobile App Project</h6>
                                    <a href="https://github.com/GeorgeBPrice/University-project-Mobile-App" target="_blank">
                                    github.com/GeorgeBPrice <i class="fas fa-external-link-alt"></i>
                                </a>
                                <p class="project-image">
                                    view: 
                                    <a href="assets/images/projects/project2-Android2.PNG" data-featherlight="image" 
                                        data-title="Simple Android Studio mobile property app" 
                                        data-text="Created using Android studio, Kotlin, APIs, google maps, JSON, REST, and DAO. 
                                            The focus was on learning those technologies, with an improved GUI design proposed by myself after. ">
                                        <span class="project-link"> App Screenshot <i class="far fa-file-image"></i></span>
                                    </a>
                                </p>
                                <p class="project-image">
                                    pdf: 
                                    <a href="assets/images/projects/Improved-Redesign-Proposal.pdf" target="_blank">
                                        <span class="project-link"> App Redesign <i class="fas fa-file-pdf"></i></span>
                                    </a>
                                </p>
                                <p class="project-image">
                                    pdf: 
                                    <a href="assets/images/projects/New-App-Proposal.pdf" target="_blank">
                                        <span class="project-link"> NEW App Proposal <i class="fas fa-file-pdf"></i></span>
                                    </a>
                                </p>
                            </div><!--end media-body-->
                        </div><!--end media-->  
                        <p class="project-desc">Hands-on uni project to build a simple property app, with google maps. I also provided my own re-design proposal.</p>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Android Studio</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Kotlin</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">DAO</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">SQL</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">API</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">JSON</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-5">
                <div class="card border-0 bg-white shadow-light shadow-lift rounded-3x overflow-hidden">
                        <div class="card-body p-4">
                        <div class="media mb-3">
                            <div class="d-md-none d-lg-block d-flex justify-content-center align-items-center thumb-xl mr-3">
                               <img src="./assets/images/technology/Project.png" alt="" width="40px" class="thumb-md">
                            </div>
                            <div class="media-body project-name">
                                <h6 class="m-0">ICT Project Management</h6>
                                    <a href="https://github.com/GeorgeBPrice/University-learning-Project-Management" target="_blank">
                                    github.com/GeorgeBPrice <i class="fas fa-external-link-alt"></i>
                                </a>
                                <p class="project-image">
                                    view:
                                        <a href="assets/images/projects/Screenshot-Backlog.PNG" data-featherlight="image" 
                                           data-title="Sprint 1, Completed" 
                                        data-text="">
                                        <span class="project-link"> Sprint Backlog <i class="far fa-file-image"></i></span>
                                    </a>
                                </p>
                                <p class="project-image">
                                    view: 
                                    <a href="assets/images/projects/Screenshot-Sprint-02.PNG" data-featherlight="image" 
                                        data-title="Sprint 2, in progess" 
                                        data-text="">
                                        <span class="project-link"> Sprint 2 Screenshot <i class="far fa-file-image"></i></span>
                                    </a>
                                </p>
                            </div><!--end media-body-->
                        </div><!--end media-->
                        <p class="project-desc">
                            Learnt the processes and methodologies of ICT Project Management, SDLC, and Agile Sprints.
                        </p>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">MS Project</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Visio</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Teams</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Taiga Sprint</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">GitHub</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-5">
                <div class="card border-0 bg-white shadow-light shadow-lift rounded-3x overflow-hidden">
                            <div class="card-body p-4">
                        <div class="media mb-3">
                            <div class="d-md-none d-lg-block d-flex justify-content-center align-items-center thumb-xl mr-3">
                               <img src="./assets/images/technology/Cybersecurity.png" alt="" width="40px" class="thumb-md">
                            </div>
                            <div class="media-body project-name">
                                <h6 class="m-0">Cybersecurity Project</h6>
                                    <a href="https://github.com/GeorgeBPrice/University-Capstone-Project-Cybersecurity" target="_blank">
                                    github.com/GeorgeBPrice <i class="fas fa-external-link-alt"></i>
                                </a>
                                <p class="project-image">
                                    pdf: 
                                    <a href="assets/images/projects/pdfs/Hospital-Cybersecurity-Manual.pdf" target="_blank">
                                        <span class="project-link"> Cybersecurity Manual <i class="fas fa-file-pdf"></i></span>
                                    </a>
                                </p>
                                <p class="project-image">
                                    pdf: 
                                    <a href="assets/images/projects/pdfs/Hospital-Network-IoT-Architecture.pdf" target="_blank">
                                        <span class="project-link"> IoT Architecture <i class="fas fa-file-pdf"></i></span>
                                    </a>
                                </p>
                            </div><!--end media-body-->
                        </div><!--end media-->
                        <p class="project-desc">
                            My Capstone group was tasked with designing a smart hospital network, focusing on Cybersecurity.
                        </p>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Amazon Cloud</span>
                            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">AWS IoT SDK</span>
                            <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">MQTT JSON</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Python</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Docker</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Linux</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Visio</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">TCP/IP</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Cisco</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">NIST</span>
                    </div>
                </div>
            </div>

        </div><!-- end row -->

        <!-- Current Projects Header -->
        <div class="row mb-8 mt-10">
            <div class="col-lg-10 mx-auto text-center">
                <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Ongoing</span>
                <h2 class="mb-4">Current Projects</h2>
                <p class="mb-5">
                    I am currently working on some projects I started while at University,
                    that are now available on GitHub to demonstrate proof of skills.
                    Please note that GitHub was not always used during development.
                </p>
            </div>
        </div>

        <!-- Current Projects -->
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-5">
                <div class="card border-0 bg-white shadow-light shadow-lift rounded-3x overflow-hidden">
                    <div class="card-body p-4">
                        <div class="media mb-3">
                            <div class="d-md-none d-lg-block d-flex justify-content-center align-items-center thumb-xl mr-3">
                                <img src="./assets/images/technology/distributed.png" alt="">
                            </div>
                            <div class="media-body project-name">
                                <h6 class="m-0">Java Distributed Software </h6>
                                <a href="https://github.com/GeorgeBPrice/Distributed-Software-LeBonPain" target="_blank">
                                    github.com/GeorgeBPrice <i class="fas fa-external-link-alt"></i>
                                </a>
                                <p class="project-image">
                                    view:
                                    <a href="assets/images/projects/new-project2-Java.jpg" data-featherlight="image"
                                       data-title="Java Client/Server program"
                                       data-text="This simple Java program is a continuation of a final year university project,
                                        but considerably redesigned and improved. A work in progress, with several improvements coming.">
                                        <span class="project-link"> Login Screen <i class="far fa-file-image"></i></span>
                                    </a>
                                </p>
                            </div><!--end media-body-->
                        </div><!--end media-->
                        <p class="project-desc">Exploring distributed client/server software, using Java's TCP/IP and Serialization tools.</p>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Java</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Java FX</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Serialization</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">TCP/IP</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">NetBeans</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">MySQL</span>
                    </div>
                </div>
            </div>

           @* <div class="col-md-4 col-sm-6 mb-5">
                <div class="card border-0 bg-white shadow-light shadow-lift rounded-3x overflow-hidden">
                    <div class="card-body p-4">
                        <div class="media mb-3">
                            <div class="d-md-none d-lg-block d-flex justify-content-center align-items-center thumb-xl mr-3">
                                <img src="./assets/images/technology/Unity.png" alt="" width="40px" class="thumb-md">
                            </div>
                            <div class="media-body project-name">
                                <h6 class="m-0">2D Game | C# UNITY</h6>
                                <a href="https://github.com/GeorgeBPrice/" target="_blank">
                                    github.com/GeorgeBPrice <i class="fas fa-external-link-alt"></i>
                                </a>
                                <p class="project-image">
                                    view:
                                    <a href="assets/images/projects/new-project3-UnityGame.jpg" data-featherlight="image"
                                       data-title="2D RPG Game - Unity Engine"
                                       data-text="Out of curiosity I have started building a simply Unity game (time permitting).
                                            This pet project is a 2D 3/4 Top Down RPG, and is entirely focused on learning Unity and C#.">
                                        <span class="project-link"> Map Design <i class="far fa-file-image"></i></span>
                                    </a>
                                </p>
                            </div><!--end media-body-->
                        </div><!--end media-->
                        <p class="project-desc">Building a Unity top down 2D game as a long-term learning experience, and out of curiosity.</p>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Unity</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Visual Studio</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">C#</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Photoshop</span>
                    </div>
                </div>
            </div>*@

            <div class="col-md-4 col-sm-6 mb-5">
                <div class="card border-0 bg-white shadow-light shadow-lift rounded-3x overflow-hidden">
                    <div class="card-body p-4">
                        <div class="media mb-3">
                            <div class="d-md-none d-lg-block d-flex justify-content-center align-items-center thumb-xl mr-3">
                                <img src="./assets/images/technology/NET.png" alt="">
                            </div>
                            <div class="media-body project-name">
                                <h6 class="m-0">ASP.NET Portfolio Website</h6>
                                <a href="https://github.com/GeorgeBPrice/" target="_blank">
                                    github.com/GeorgeBPrice <i class="fas fa-external-link-alt"></i>
                                </a>
                            </div><!--end media-body-->
                        </div><!--end media-->
                        <p class="project-desc">Built a MVC Core 6 Web Application to host my portfolio (this website) in the Azure cloud.</p>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">ASP.NET Core 6</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Azure</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">C#</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">JavaScript</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">jQuery</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">CSS/HTML</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">API</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">SMTP</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">reCaptcha</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Visual Studio 2022</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 mb-5">
                <div class="card border-0 bg-white shadow-light shadow-lift rounded-3x overflow-hidden">
                    <div class="card-body p-4">
                        <div class="media mb-3">
                            <div class="d-md-none d-lg-block d-flex justify-content-center align-items-center thumb-xl mr-3">
                                <img src="./assets/images/technology/NET.png" alt="">
                            </div>
                            <div class="media-body project-name">
                                <h6 class="m-0">ASP.NET eCommerce App</h6>
                                <a href="#!">
                                    Coming Soon <i class="fab ti-lock"></i>
                                </a>
                            </div><!--end media-body-->
                        </div><!--end media-->
                        <p class="project-desc">Building a complete eCommerce Web Application for demonstration and learning purposes.</p>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">ASP.NET Core 7</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Azure</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">C#</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">API</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">PayPal</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Identity</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Entity Framework</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">LINQ</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Visual Studio 2022</span>
                    </div>
                </div>
            </div>

        </div><!-- end row -->

    </div><!-- end container -->
</section>