@{
    ViewData["Title"] = "Privacy Policy";
}

<section id="home" class="py-9 py-lg-10 min-vh-100">'
    <div class="container">
        <div class="row">
            <h2>@ViewData["Title"]</h2>
            <p>
                All rights and privacy are reserved by the author (George B Price), for all content of this portfolio. 
                Permission by the author is strictly required to use, re-use, duplicate, publish, or disseminate this portfolio; 
                other than those activities which are for the purposes of hiring the author.
            </p>
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Back</a>
        </div>
    </div>
</section>
